<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40571770129-8susq14b2jdmtslpcihfslf8c4sjnvh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40571770129-8susq14b2jdmtslpcihfslf8c4sjnvh0</string>
	<key>API_KEY</key>
	<string>AIzaSyCfa7WvH9qrfrZWcq7rJXf3rT956NpYCxw</string>
	<key>GCM_SENDER_ID</key>
	<string>40571770129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskmanagerapp</string>
	<key>PROJECT_ID</key>
	<string>taskmanagerapp-bd45f</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanagerapp-bd45f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40571770129:ios:06ed5e21c41447c5aba8b0</string>
</dict>
</plist>